/* 
    Created on : 2019.05.06., 18:23:12
    Author     : Prototype_
*/
body 
{
    background-size: 100%;
    background-color: #696969;
}
body#index
{
    background-image: url('../pics/sunset-3689760_1920.jpg');
}
.loginForm 
{
    height: 190px;
    font-family: "Lucida Console", "Albertus", sans-serif;
    color: white;
    text-align: right;
}
.loginForm .login
{
    margin: 20px;
}
.loginForm .login .loginData
{
    font-family: Charlesworth, "Times New Roman", sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
.loginForm .login .loginData .inputData
{
    float: right;
    margin-left: 15px;
}
.footer
{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.header 
{
    background-color: rgba(0,0,0,0.5);
    box-shadow: black 5px 5px 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    font-family: Albertus, sans-serif;
}
.header > h1
{
    margin: 10px 0px 10px 20px;
}